.station-header {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.station-name {
    width: 75%;
    background-color: #F6EB0F;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem;
    color: #000;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.906px;
    font-family: 'BusStopFont', sans-serif;
    word-wrap: break-word;
    letter-spacing: 2px;
}

.station-number {
    letter-spacing: 1px;
    width: 25%;
    background-color: #1A00FF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'BusStopFont', sans-serif;

}