


.dynamic-image-page {
    margin-top: -6rem;
    margin-bottom: -6rem;
    /* padding-top: 6rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55rem;
    background-color: white;
    justify-content: center;
  }
  

.loading-title {
  font-family: "CurrentStopFont", sans-serif;

}

  