.report-icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-icon-button {
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.report-icon-text {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
}
