/* Combined styles for BuslineRoute and BuslineRouteTimeline */

.route {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 20px 40px;
}

.bus-icon-container {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}

.station-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    text-align: right;
    height: 80px;
}

.station-container.current {
    background-color: #f6eb0f;
}


.station-container-graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 20px;
    height: 100%;
}

.station-info {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    font-size: 18px;
    font-family: "TitleFont", sans-serif;
    line-height: 1.2;
    padding: 5px 0;
}

.station-info.active {
    color: #c6c5c5;
}

.station-info.current {
    font-family: "BusStopFont";
    color: #000000;
}




.connection-line {
    width: 4px;
    height: 100%;
    background-color: black;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.connection-line.active {
    background-color: #c6c5c5;
}

.connection-line-top {
    height: 50%;
    top: 0;
}

.connection-line-bottom {
    height: 50%;
    top: 50%;
}

.station {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.station.active {
    background-color: #c6c5c5;
    border: none;
}

.station.current {
    border: 5px solid black;
    background-color: black;

}

.bus-icon-wrapper {
    position: absolute;
    right: 40px;
    transform: translateY(-50%);
    z-index: 2;
    transition: top 0.5s ease-in-out;
}

.bus-icon {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}