/* Combined styles for BuslineRoute and BuslineRouteTimeline */

.route {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.timeline-container {
    width: 100%;
}


.station-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    text-align: right;
    padding-right: 3rem;

}

.station-container.current {
    background-color: #F6EB0F;
}


.station-container-graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.station-info {
    margin: 0 13px 30px 0;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    white-space: nowrap;
    margin-top: auto;
    font-size: 18px;
    align-self: flex-end;
    font-family: 'TitleFont', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 400px;
    white-space: normal;
}

.station-info.active {
    color: #c6c5c5;
}

.station-info.current {
    font-family: 'BusStopFont', sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    color: #000000;
    font-size: 20px;
}




.connection-line {
    width: 4px;
    height: 30px;
    background-color: black;
}

.connection-line.active {
    background-color: #c6c5c5;
}

.station {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: 1; */
    
}

.station.active {
    background-color: #c6c5c5;
    border: none;
}

.station.current {
    border: 5px solid black;
    background-color: black;

}

.bus-icon {
    font-size: 14px;
    color: white;
}

.blue-box {
    display: flex;
    flex-direction: row;
    x: 0;
    y: 0;
    width: 90px;
    height: 5rem;
    flex-shrink: 0;
    background: #1A00FF;
    color: #FFF;
    text-align: right;
    font-family: 'BusStopFont', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}