@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.splash-screen.fade-out {
    animation: fadeOut 1s ease-in-out;
}

.splash-screen img {
    width: 50%;
    height: auto;
}